<html>
    <head>
        <title>My scratchboard page</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>


<div class="container">



  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Fotografie</h1>

  <hr class="mt-2 mb-5">


  <div class="row text-center text-lg-left">

        {% for album in albums %}
          <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{{ album.get('coverPhotoBaseUrl')+ "=w300-h200-c" }}" alt="">
                </a>
            </div>


        {% endfor %}

  </div>







        </div><!-- /.container -->

    </body>
</html>
