
{% extends "base.html" %}

{% block content %}

<main role="main" class="container">

            <div class="mt-5 d-flex align-items-center">
                <a class="back-arrow" href="{{ url_for('gallery') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" viewBox="0 0 24 24" focusable="false"><path d="M20.5 11H6.414l5.44-5.44a.5.5 0 0 0 0-.706l-.708-.707a.5.5 0 0 0-.707 0l-7.147 7.146a1 1 0 0 0 0 1.414l7.146 7.146a.5.5 0 0 0 .706 0l.707-.707a.5.5 0 0 0 0-.707L6.413 13H20.5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/></svg>
                </a>
                <h1 class="font-weight-light text-center text-lg-left flex-grow-1">{{ title }}</h1>
            </div>

              <hr class="mt-2 mb-5">
  <div class="row text-center text-lg-left">

          {% for item in media %}
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                {% if item.is_video() %}
                <a href="{{ item.get_url() }}" data-fancybox="gallery" data-type="video" data-creationtime="" class="d-block fancybox">
                {% else %}
                <a href="{{ item.get_url(False, 1500, 1000) }}" data-fancybox="gallery" data-caption="{{ item.val.get('description', '') }}" data-creationtime="{{ item.metadata().get('creationTime', '')[:10] }}"  class="d-block fancybox">
                {% endif %}
                <img class="img-fluid img-thumbnail" src="{{ item.get_url(False, 300, 200, True) }}" alt="">
                </a>


            </div>


        {% endfor %}


  </div>


</main>






	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<script>$('[data-fancybox="gallery"]').fancybox({
        	  buttons: [
            "zoom",
            //"share",
            "slideShow",
            "fullScreen",
            //"download",
            "close"
            ],

            beforeShow: function( instance, current ) {
              	instance.$refs.infobar.html('');
        	    instance.$refs.infobar.append('<span data-fancybox-index></span> / <span data-fancybox-count></span> ');
        	    var date = current.opts.$orig.attr("data-creationtime")
                instance.$refs.infobar.append('<br/>' + date);
            }

            });

    </script>


{% endblock %}
