
{% extends "base.html" %}

{% block content %}

<main role="main" class="container">
              <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{ title }}</h1>

              <hr class="mt-2 mb-5">
  <div class="row text-center text-lg-left">

          {% for photo in photos %}
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                <a href="{{ photo.get('baseUrl')+ "=w1500-h1000" }}" data-fancybox="gallery" class="d-block fancybox">
                <img class="img-fluid img-thumbnail" src="{{ photo.get('baseUrl')+ "=w300-h200-c" }}" alt="">
                </a>


            </div>


        {% endfor %}


  </div>


</main>






	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<script>$('[data-fancybox="gallery"]').fancybox({
        	  buttons: [
            "zoom",
            //"share",
            "slideShow",
            "fullScreen",
            //"download",
            "close"
            ],
            });

    </script>

{% endblock %}
