{% extends "base.html" %}

{% block content %}


  <div class="row text-center text-lg-left">

        {% for album in albums %}
          <div class="col-lg-3 col-md-4 col-6 mb-4">
                <a href="/a/{{ album.get('title') }}" class="d-block">
                <img class="img-fluid img-thumbnail" src="{{ album.get('coverPhotoBaseUrl')+ "=w300-h200-c" }}" alt="">
                <div class="d-bock mb4">{{ album.get('title') }}</div>
                </a>

            </div>


        {% endfor %}

  </div>

{% endblock %}
