{% extends "base.html" %}

{% block content %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Marek Pilarski Photography</h1>
      <p class="lead text-muted">Zdjęcia z moich podróży, małych i dużych</p>
      <p>
        <a href="mailto:mkpilarski@gmail.com" class="btn btn-secondary my-2">E-Mail</a>
        <a href="https://www.facebook.com/marek.pilarski.73" class="btn btn-primary my-2">Facebook</a>
      </p>
    </div>
  </section>



  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
        {% for album in albums %}
        <div class="col-lg-3 col-md-4 col-6 mb-3">
          <div class="card mb-4 shadow-sm">
            <img class="img-fluid" src="{{ album.get('coverPhotoBaseUrl')+ "=w300-h200-c" }}" alt="">
            <div class="card-body d-flex flex-column">
              <a class="card-text stretched-link" href="/a/{{ album.get('title') }}">{{ album.get('title') }}</a>

              <small class="mt-auto text-muted align-self-end">{{ album.get('mediaItemsCount') }} photos</small>
            </div>
          </div>

        </div>



        {% endfor %}
              </div>
      </div>

  </div>

{% endblock %}
