{% extends "base.html" %}

{% block content %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Marek Pilarski Photography</h1>
      <p class="lead text-muted">Zdjęcia z moich podróży, małych i dużych</p>
      <p>
        <a href="mailto:mkpilarski@gmail.com" class="btn btn-secondary my-2">E-Mail</a>
        <a href="https://www.facebook.com/marek.pilarski.73" class="btn btn-primary my-2">Facebook</a>
      </p>
    </div>
  </section>



  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
        {% for album in albums %}
        <div class="col-lg-3 col-md-4 col-6 mb-4">
          <a href="/a/{{ album.get('title') }}">
          <div class="card mb-4 h-100 shadow-sm">
            <img class="img-fluid" src="{{ album.get('coverPhotoBaseUrl')+ "=w300-h200-c" }}" alt="">
            <div class="card-body">
              <p class="card-text">{{ album.get('title') }}</p>

              <div class="d-flex align-items-right">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
          </a>
        </div>



        {% endfor %}
              </div>
      </div>

  </div>

{% endblock %}
